*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne', sans-serif; /*Weight (400-800) */
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-container, .container, .results {
  border: 1px solid black;
}

.header {
  color: #F7EDD8;
  font-weight: 800;
  font-size: 48px;
  text-align: center;
}

.header-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ED7A56;
  gap: 15px;
}

.memo-container {
  min-height: 65px;
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 40px;
}

.memo-container, .memo-container:after, .memo {
  transition-duration: 2s;
}

.memo-container:after {
  content: '';
  position: absolute;
  min-width: 100%;
  height: 65px;
  background-color: #023342;
  border-radius: 32.5px;
  box-shadow: 10px 10px 5px #BD4A2A;
  z-index: 2;
}

.memo-container:before {
  content: '';
  width: 120px;
  height: 90px;
  border-radius: 50%;
  background-color: #023342;
  position: absolute;
  box-shadow: 10px 10px 5px #BD4A2A;
  z-index: 1;
}

.circle {
  content: '';
  width: 120px;
  height: 90px;
  border-radius: 50%;
  background-color: #023342;
  position: absolute;
  z-index: 3;
}

.memo {
  color: #F7EDD8;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  z-index: 4;
}

.container {
    width: 100%;
    height:70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    background-color: #FBEBD2;
}

.container div {
    height: 200px;
    width: 200px;
    background-color: gray;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.results {
    background-color: blueviolet;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.hidden {
    display: none;
}
/* CSS */
.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}




